body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
#main-container{
    margin: 150px auto;
    width: 600px;
}
table th{
    width: 10em;
    padding: 0.5em;
}
table {
    border-collapse: collapse;
}
tr:nth-of-type(1) > th{
    background-color: teal;
}
tr:nth-of-type(2) >th{
    background-color: rgb(92, 192, 205);
}
tr:nth-of-type(3) >th{
    background-color: rgb(92, 192, 205);
}
tr:nth-of-type(4) >th{
    background-color: rgb(92, 192, 205);
}
tr:nth-of-type(5) >th{
    background-color: rgb(92, 192, 205);
}
tr:nth-of-type(6) >th{
    background-color: rgb(92, 192, 205);
}
